In [1]:
import pandas as pd

# Carregar Meus Dados csv

In [40]:
df = pd.read_csv("G:/ProjetoData/ForcaAereaBrasileira/ocorrencia_2010_2020.csv", sep=";", parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
0,77289,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,SBQV,2017-11-28,00:00:00,1,0
1,46349,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1,0
2,65572,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1,0
3,78635,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04,00:00:00,1,0
4,79449,79449,ACIDENTE,PATROCÍNIO,MG,****,2020-07-21,00:00:00,1,0

## Localizar um dado pelo índice

In [3]:
df.loc[1,'ocorrencia_cidade']

'GOIÂNIA'

## Localizar os registros de 1 à 3 pelo índice

In [4]:
df.loc[1:3]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas
1,46349,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1
2,65572,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1
3,78635,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04,00:00:00,1

## Localizar os registros 10 e 40 pelo índice

In [5]:
df.loc[[10,40]]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas
10,78264,78264,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2018-10-23,00:00:00,1
40,50374,50374,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2013-12-02,00:27:00,1

## Localizar todas as cidades pelo índice

In [6]:
df.loc[:,'ocorrencia_cidade']

0       VITÓRIA DA CONQUISTA
1                    GOIÂNIA
2                    GOIÂNIA
3                  OURO FINO
4                 PATROCÍNIO
                ...
5747            JUIZ DE FORA
5748                LONDRINA
5749                 CONFINS
5750          RIO DE JANEIRO
5751                 CORUMBÁ
Name: ocorrencia_cidade, Length: 5752, dtype: object

## Verificar se o campo 'codigo_ocorrencia' é único

In [7]:
df.codigo_ocorrencia.is_unique

True

## Alterar o índice para 'codigo_ocorrencia'

In [8]:
df.set_index('codigo_ocorrencia', inplace=True)

## Lista os 5 primeiros registros

In [9]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas
codigo_ocorrencia,,,,,,,,
77289,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,SBQV,2017-11-28,00:00:00,1
46349,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1
65572,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1
78635,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04,00:00:00,1
79449,79449,ACIDENTE,PATROCÍNIO,MG,****,2020-07-21,00:00:00,1

## Localizar um registro pelo índice

In [10]:
df.loc[40324]

codigo_ocorrencia2                          40324
ocorrencia_classificacao                INCIDENTE
ocorrencia_cidade                         PELOTAS
ocorrencia_uf                                  RS
ocorrencia_aerodromo                         SBPK
ocorrencia_dia                2010-01-05 00:00:00
ocorrencia_hora                          19:25:00
total_aeronaves_envolvidas                      1
Name: 40324, dtype: object

## Remover o índice criado

In [11]:
df.reset_index(drop=True, inplace=True)

In [12]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas
0,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,SBQV,2017-11-28,00:00:00,1
1,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1
2,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1
3,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04,00:00:00,1
4,79449,ACIDENTE,PATROCÍNIO,MG,****,2020-07-21,00:00:00,1

## Alterar um registro de uma coluna pelo índice

In [13]:
df.loc[0,'ocorrencia_aerodromo'] = ''

## Alterar um registro pelo índice

In [14]:
df.loc[1] = 20

## Alterar todas as colunas pelo índice

In [15]:
df.loc[:,'total_recomendacoes'] = 10

## Listar o dataFrame

In [16]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
0,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,,2017-11-28 00:00:00,00:00:00,1,10
1,20,20,20,20,20,20,20,20,10
2,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25 00:00:00,00:00:00,1,10
3,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04 00:00:00,00:00:00,1,10
4,79449,ACIDENTE,PATROCÍNIO,MG,****,2020-07-21 00:00:00,00:00:00,1,10
...,...,...,...,...,...,...,...,...,...
5747,41574,INCIDENTE,JUIZ DE FORA,MG,****,2010-05-14 00:00:00,23:57:00,1,10
5748,65490,ACIDENTE,LONDRINA,PR,SBLO,2016-07-31 00:00:00,23:57:00,1,10
5749,52596,ACIDENTE,CONFINS,MG,SBCF,2014-09-25 00:00:00,23:58:00,1,10
5750,77940,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2018-06-07 00:00:00,23:58:00,1,10
5751,78823,INCIDENTE,CORUMBÁ,MS,*****,2017-07-09 00:00:00,NaN,1,10

## Fazer o bkp de uma coluna

In [17]:
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf

In [18]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes,ocorrencia_uf_bkp
0,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,,2017-11-28 00:00:00,00:00:00,1,10,BA
1,20,20,20,20,20,20,20,20,10,20
2,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25 00:00:00,00:00:00,1,10,GO
3,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04 00:00:00,00:00:00,1,10,MG
4,79449,ACIDENTE,PATROCÍNIO,MG,****,2020-07-21 00:00:00,00:00:00,1,10,MG
...,...,...,...,...,...,...,...,...,...,...
5747,41574,INCIDENTE,JUIZ DE FORA,MG,****,2010-05-14 00:00:00,23:57:00,1,10,MG
5748,65490,ACIDENTE,LONDRINA,PR,SBLO,2016-07-31 00:00:00,23:57:00,1,10,PR
5749,52596,ACIDENTE,CONFINS,MG,SBCF,2014-09-25 00:00:00,23:58:00,1,10,MG
5750,77940,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2018-06-07 00:00:00,23:58:00,1,10,RJ
5751,78823,INCIDENTE,CORUMBÁ,MS,*****,2017-07-09 00:00:00,NaN,1,10,MS

## Alterar todas as ocorrencias de uma coluna com um where

In [20]:
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'GRAVE'

In [21]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes,ocorrencia_uf_bkp
0,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,,2017-11-28 00:00:00,00:00:00,1,10,BA
1,20,20,20,20,20,20,20,20,10,20
2,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25 00:00:00,00:00:00,1,10,GO
3,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04 00:00:00,00:00:00,1,10,MG
4,79449,ACIDENTE,PATROCÍNIO,MG,****,2020-07-21 00:00:00,00:00:00,1,10,MG
...,...,...,...,...,...,...,...,...,...,...
5747,41574,INCIDENTE,JUIZ DE FORA,MG,****,2010-05-14 00:00:00,23:57:00,1,10,MG
5748,65490,ACIDENTE,LONDRINA,PR,SBLO,2016-07-31 00:00:00,23:57:00,1,10,PR
5749,52596,ACIDENTE,CONFINS,MG,SBCF,2014-09-25 00:00:00,23:58:00,1,10,MG
5750,77940,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2018-06-07 00:00:00,23:58:00,1,10,RJ
5751,78823,INCIDENTE,CORUMBÁ,MS,*****,2017-07-09 00:00:00,NaN,1,10,MS

## Lista registros da UF = SP

In [22]:
df.loc[df.ocorrencia_uf == 'SP']

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes,ocorrencia_uf_bkp
14,78977,GRAVE,SÃO CARLOS,SP,SDSC,2019-10-17 00:00:00,00:00:00,1,10,SP
18,66477,GRAVE,SÃO PAULO,SP,SBSP,2017-03-03 00:00:00,00:03:00,1,10,SP
22,46716,GRAVE,CAMPINAS,SP,SBKP,2012-11-27 00:00:00,00:11:00,1,10,SP
23,66395,GRAVE,GUARULHOS,SP,SBBR,2017-02-09 00:00:00,00:11:00,1,10,SP
26,66860,GRAVE,SÃO PAULO,SP,SBSP,2017-06-09 00:00:00,00:13:00,1,10,SP
...,...,...,...,...,...,...,...,...,...,...
5731,78942,GRAVE,GUARULHOS,SP,*****,2019-09-22 00:00:00,23:48:00,1,10,SP
5734,49623,GRAVE,CAMPINAS,SP,****,2013-09-08 00:00:00,23:49:00,1,10,SP
5739,40314,GRAVE,SÃO PAULO,SP,****,2010-03-04 00:00:00,23:50:00,1,10,SP
5740,79249,GRAVE,CAMPINAS,SP,****,2020-03-10 00:00:00,23:51:00,1,10,SP
5746,44902,GRAVE,JUNDIAÍ,SP,SBJD,2011-08-05 00:00:00,23:55:00,1,10,SP

In [24]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas
0,77289,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,SBQV,2017-11-28,00:00:00,1
1,46349,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1
2,65572,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1
3,78635,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04,00:00:00,1
4,79449,79449,ACIDENTE,PATROCÍNIO,MG,****,2020-07-21,00:00:00,1
...,...,...,...,...,...,...,...,...,...
5747,41574,41574,INCIDENTE,JUIZ DE FORA,MG,****,2010-05-14,23:57:00,1
5748,65490,65490,ACIDENTE,LONDRINA,PR,SBLO,2016-07-31,23:57:00,1
5749,52596,52596,ACIDENTE,CONFINS,MG,SBCF,2014-09-25,23:58:00,1
5750,77940,77940,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2018-06-07,23:58:00,1
5751,78823,78823,INCIDENTE,CORUMBÁ,MS,*****,2017-07-09,NaN,1

In [25]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas
0,77289,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,SBQV,2017-11-28,00:00:00,1
1,46349,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1
2,65572,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1
3,78635,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04,00:00:00,1
4,79449,79449,ACIDENTE,PATROCÍNIO,MG,****,2020-07-21,00:00:00,1

## Replace de '***' para NA

In [26]:
df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA

In [27]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas
0,77289,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,SBQV,2017-11-28,00:00:00,1
1,46349,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1
2,65572,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1
3,78635,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04,00:00:00,1
4,79449,79449,ACIDENTE,PATROCÍNIO,MG,<NA>,2020-07-21,00:00:00,1

## Replace de uma lista de valores para NA

In [41]:
df.replace(['**','###!','####','****','*****','NULL'], pd.NA, inplace=True)

In [42]:
df.tail()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
5747,41574,41574,INCIDENTE,JUIZ DE FORA,MG,<NA>,2010-05-14,23:57:00,1,0
5748,65490,65490,ACIDENTE,LONDRINA,PR,SBLO,2016-07-31,23:57:00,1,0
5749,52596,52596,ACIDENTE,CONFINS,MG,SBCF,2014-09-25,23:58:00,1,0
5750,77940,77940,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2018-06-07,23:58:00,1,0
5751,78823,78823,INCIDENTE,CORUMBÁ,MS,<NA>,2017-07-09,NaN,1,0

## Verifica os dados não informados

In [43]:
df.isna().sum()

codigo_ocorrencia                0
codigo_ocorrencia2               0
ocorrencia_classificacao         0
ocorrencia_cidade                0
ocorrencia_uf                    1
ocorrencia_aerodromo          2349
ocorrencia_dia                   0
ocorrencia_hora                  1
total_aeronaves_envolvidas       0
total_recomendacoes              0
dtype: int64

## Verifica os dados nulo informados

In [44]:
df.isnull().sum()

codigo_ocorrencia                0
codigo_ocorrencia2               0
ocorrencia_classificacao         0
ocorrencia_cidade                0
ocorrencia_uf                    1
ocorrencia_aerodromo          2349
ocorrencia_dia                   0
ocorrencia_hora                  1
total_aeronaves_envolvidas       0
total_recomendacoes              0
dtype: int64

## Alterar os dados nulos e não informados para 10

In [45]:
df.fillna(10, inplace=True)

In [46]:
df.isnull().sum()

codigo_ocorrencia             0
codigo_ocorrencia2            0
ocorrencia_classificacao      0
ocorrencia_cidade             0
ocorrencia_uf                 0
ocorrencia_aerodromo          0
ocorrencia_dia                0
ocorrencia_hora               0
total_aeronaves_envolvidas    0
total_recomendacoes           0
dtype: int64

In [47]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
0,77289,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,SBQV,2017-11-28,00:00:00,1,0
1,46349,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1,0
2,65572,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1,0
3,78635,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04,00:00:00,1,0
4,79449,79449,ACIDENTE,PATROCÍNIO,MG,10,2020-07-21,00:00:00,1,0

## Verificar os dados que foram alterados

In [48]:
df.replace([10], pd.NA, inplace=True)

In [49]:
df.isnull().sum()

codigo_ocorrencia                0
codigo_ocorrencia2               0
ocorrencia_classificacao         0
ocorrencia_cidade                0
ocorrencia_uf                    1
ocorrencia_aerodromo          2349
ocorrencia_dia                   0
ocorrencia_hora                  1
total_aeronaves_envolvidas       0
total_recomendacoes              2
dtype: int64

## Se precisar voltar alteração

In [50]:
df.fillna(value={'total_recomendacoes':10}, inplace=True)

In [51]:
df.isnull().sum()

codigo_ocorrencia                0
codigo_ocorrencia2               0
ocorrencia_classificacao         0
ocorrencia_cidade                0
ocorrencia_uf                    1
ocorrencia_aerodromo          2349
ocorrencia_dia                   0
ocorrencia_hora                  1
total_aeronaves_envolvidas       0
total_recomendacoes              0
dtype: int64

## Realizar um bkp

In [52]:
df['total_recomendacoes_bkp'] = df.total_recomendacoes

In [53]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes,total_recomendacoes_bkp
0,77289,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,SBQV,2017-11-28,00:00:00,1,0,0
1,46349,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1,0,0
2,65572,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1,0,0
3,78635,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04,00:00:00,1,0,0
4,79449,79449,ACIDENTE,PATROCÍNIO,MG,<NA>,2020-07-21,00:00:00,1,0,0

## Remover uma coluna

In [54]:
df.drop(['total_recomendacoes_bkp'], axis=1, inplace=True)

In [55]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
0,77289,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,SBQV,2017-11-28,00:00:00,1,0
1,46349,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1,0
2,65572,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1,0
3,78635,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04,00:00:00,1,0
4,79449,79449,ACIDENTE,PATROCÍNIO,MG,<NA>,2020-07-21,00:00:00,1,0

## Excluir todos os valores não informados a linha toda

In [56]:
df.dropna()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
0,77289,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,SBQV,2017-11-28,00:00:00,1,0
1,46349,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1,0
2,65572,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1,0
3,78635,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04,00:00:00,1,0
7,66378,66378,ACIDENTE,ITAITUBA,PA,SNMD,2017-02-05,00:00:00,1,3
...,...,...,...,...,...,...,...,...,...,...
5745,42486,42486,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-08-23,23:55:00,1,0
5746,44902,44902,INCIDENTE,JUNDIAÍ,SP,SBJD,2011-08-05,23:55:00,1,0
5748,65490,65490,ACIDENTE,LONDRINA,PR,SBLO,2016-07-31,23:57:00,1,0
5749,52596,52596,ACIDENTE,CONFINS,MG,SBCF,2014-09-25,23:58:00,1,0
5750,77940,77940,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2018-06-07,23:58:00,1,0

In [57]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
0,77289,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,SBQV,2017-11-28,00:00:00,1,0
1,46349,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1,0
2,65572,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1,0
3,78635,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04,00:00:00,1,0
4,79449,79449,ACIDENTE,PATROCÍNIO,MG,<NA>,2020-07-21,00:00:00,1,0
...,...,...,...,...,...,...,...,...,...,...
5747,41574,41574,INCIDENTE,JUIZ DE FORA,MG,<NA>,2010-05-14,23:57:00,1,0
5748,65490,65490,ACIDENTE,LONDRINA,PR,SBLO,2016-07-31,23:57:00,1,0
5749,52596,52596,ACIDENTE,CONFINS,MG,SBCF,2014-09-25,23:58:00,1,0
5750,77940,77940,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2018-06-07,23:58:00,1,0
5751,78823,78823,INCIDENTE,CORUMBÁ,MS,<NA>,2017-07-09,<NA>,1,0

## Excluir as linhas com where

In [58]:
df.dropna(subset=['ocorrencia_uf'])

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
0,77289,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,SBQV,2017-11-28,00:00:00,1,0
1,46349,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1,0
2,65572,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1,0
3,78635,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04,00:00:00,1,0
4,79449,79449,ACIDENTE,PATROCÍNIO,MG,<NA>,2020-07-21,00:00:00,1,0
...,...,...,...,...,...,...,...,...,...,...
5747,41574,41574,INCIDENTE,JUIZ DE FORA,MG,<NA>,2010-05-14,23:57:00,1,0
5748,65490,65490,ACIDENTE,LONDRINA,PR,SBLO,2016-07-31,23:57:00,1,0
5749,52596,52596,ACIDENTE,CONFINS,MG,SBCF,2014-09-25,23:58:00,1,0
5750,77940,77940,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2018-06-07,23:58:00,1,0
5751,78823,78823,INCIDENTE,CORUMBÁ,MS,<NA>,2017-07-09,<NA>,1,0

In [59]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
0,77289,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,SBQV,2017-11-28,00:00:00,1,0
1,46349,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1,0
2,65572,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1,0
3,78635,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04,00:00:00,1,0
4,79449,79449,ACIDENTE,PATROCÍNIO,MG,<NA>,2020-07-21,00:00:00,1,0
...,...,...,...,...,...,...,...,...,...,...
5747,41574,41574,INCIDENTE,JUIZ DE FORA,MG,<NA>,2010-05-14,23:57:00,1,0
5748,65490,65490,ACIDENTE,LONDRINA,PR,SBLO,2016-07-31,23:57:00,1,0
5749,52596,52596,ACIDENTE,CONFINS,MG,SBCF,2014-09-25,23:58:00,1,0
5750,77940,77940,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2018-06-07,23:58:00,1,0
5751,78823,78823,INCIDENTE,CORUMBÁ,MS,<NA>,2017-07-09,<NA>,1,0

## retirar valores dublicados

In [60]:
df.drop_duplicates(inplace=True)

In [61]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
0,77289,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,SBQV,2017-11-28,00:00:00,1,0
1,46349,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1,0
2,65572,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1,0
3,78635,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04,00:00:00,1,0
4,79449,79449,ACIDENTE,PATROCÍNIO,MG,<NA>,2020-07-21,00:00:00,1,0
...,...,...,...,...,...,...,...,...,...,...
5747,41574,41574,INCIDENTE,JUIZ DE FORA,MG,<NA>,2010-05-14,23:57:00,1,0
5748,65490,65490,ACIDENTE,LONDRINA,PR,SBLO,2016-07-31,23:57:00,1,0
5749,52596,52596,ACIDENTE,CONFINS,MG,SBCF,2014-09-25,23:58:00,1,0
5750,77940,77940,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2018-06-07,23:58:00,1,0
5751,78823,78823,INCIDENTE,CORUMBÁ,MS,<NA>,2017-07-09,<NA>,1,0